name: "Generate Protobufs"
on:
  workflow_dispatch:
    inputs:
      base-branch:
        description: "Base branch"
        required: true
        type: choice
        default: main
        options:
          - main
          - develop
          - commonjs
defaults:
  run:
    shell: bash
permissions:
  contents: write
  pull-requests: write 

    
jobs:

  generate-proto:
    name: "Update with upstream Protobufs"
    runs-on: ubuntu-latest
    env:
      BASE_BRANCH: ${{ github.event.inputs.base-branch }}
      PR_BRANCH: "update-proto"
    
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: ${{ env.BASE_BRANCH }}

      - name: "Install buf CLI"
        uses: bufbuild/buf-setup-action@v1.15.1

      - name: Generate TypeScript code for Protobufs
        run: buf generate buf.build/cheqd/proto
      
      - name: Install dependencies
        run: npm ci
      
      - name: Build
        run: npm run build

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4.2.4
        with:
          base: ${{ env.BASE_BRANCH }}
          branch: ${{ env.PR_BRANCH }}
          branch-suffix: short-commit-hash
          delete-branch: true
          title: "feat(protobufs): Update with upstream Protobufs $(date +'%Y-%m-%d')"
          body: "Updated protobufs from cheqd-node ledger protos"
          token: ${{ secrets.GITHUB_TOKEN }}

